{
	auto_https off
	admin 0.0.0.0:3003
    servers {
        metrics
    }
}
:3000 {
	log {
		output stdout
		format console {
			time_format iso8601
			level_format color
		}
		level {$LOG_LEVEL}
	}
  handle /env.js {
      header {
        Content-Type text/javascript
      }
      respond `window.config={"VITE_SSO_AUTH_SERVER_URL":"{$VITE_SSO_AUTH_SERVER_URL}", "VITE_SSO_CLIENT_ID":"{$VITE_SSO_CLIENT_ID}", "VITE_SSO_REALM":"{$VITE_SSO_REALM}", "VITE_SSO_REDIRECT_URI":"{$VITE_SSO_REDIRECT_URI}", "VITE_API_URL":"{$VITE_API_URL}"};`
  }
	root * /srv
	encode zstd gzip
	file_server
	@spa_router {
		not path /api/* /env.js
		file {
			try_files {path} /index.html
		}
	}
	rewrite @spa_router {http.matchers.file.relative}
	# Proxy requests to API service
	handle_path /api/* {
		reverse_proxy {$VITE_API_URL} {
			header_up Host {http.reverse_proxy.upstream.hostport}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
		}
	}
	header {
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1;mode=block"
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
		X-Content-Type-Options "nosniff"
		Strict-Transport-Security "max-age=31536000"
		Content-Security-Policy "default-src 'self' https://spt.apps.gov.bc.ca data:; script-src 'self' 'unsafe-eval' https://www2.gov.bc.ca; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://use.fontawesome.com https://cdn.jsdelivr.net; font-src 'self' https://fonts.gstatic.com https://cdn.jsdelivr.net; img-src 'self' data: https://fonts.googleapis.com http://www.w3.org https://*.gov.bc.ca; frame-src 'self' https://*.gov.bc.ca https://login.microsoftonline.com; connect-src 'self' https://*.gov.bc.ca"
		Referrer-Policy "same-origin"
		Feature-Policy "fullscreen 'self'; camera 'none'; microphone 'none'"
	}
}
:3001 {
	handle /health {
		respond "OK"
	}
}
