<configuration>

  <appender name="sifter" class="ch.qos.logback.classic.sift.SiftingAppender">
    <!-- in the absence of the class attribute, it is assumed that the
         desired discriminator type is
         ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
    <discriminator>
      <key>projectionId</key>
      <defaultValue>not-request-specific</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-${projectionId}" class="ch.qos.logback.core.FileAppender">
        <file>logs/${projectionId}.log</file>
 	    <immediateFlush>true</immediateFlush>
        <append>false</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>%d [%thread] %-5level %logger{35}: %msg%n</pattern>
        </layout>
      </appender>
    </sift>
  </appender>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35}: %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="sifter" />
    <appender-ref ref="stdout" />
  </root>
</configuration>